

 .BoxCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
 }

 .Header {
  width: 360px;
  height: 64px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .TitleHeader{
  width: 74px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  text-align: center;
  color: #000000;
  display: flex;
  align-content: center;
 }

 .TextTitle{
  font-family: Roboto;
  margin-top: 3px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #5cb646;
 }

 .TextP{
  display: flex;
  margin: 0px 12px 5px 12px;
  padding-bottom: 5px;
  font-family: Roboto;
  margin-top: 3px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #000;
  border-bottom: 2px solid #000;
 }

 .MainCard {
  display: flex;
  width: 328px;
  height: 112px;
  margin: 8px;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #b8b8b8;
  color: #5cb646;
 }

 .MainCardContent {
  display: flex;
  flex-flow: column wrap;
  width: 70%;
  justify-content: space-between;
  /* p {
    width: 200px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.29px;
    color: #b8b8b8;
  } */
 }

 .ImagesFood{
  width: 100px;
  height: 110px;
  margin: 0 17px 0px 0;
  object-fit: contain;
 }

 .CardPrice {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* p {
    width: 118px;
    height: 19px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #000;
  } */
 }

 .ButtonAdd{
  display: flex;
  align-self: flex-end;
  flex-flow: column wrap;
  width: 20vw;
  height: 5vh;
  margin-top: 7px;
  padding: 8px 21px 10px 10px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #5cb646;
  color: #5cb646;
  cursor: pointer;
  background-color: transparent;
 }

 .ButtonRemove{
  display: flex;
  align-self: flex-end;
  flex-flow: column wrap;
  width: 90px;
  height: 30px;
  margin-top: 7px;
  padding: 8px 21px 10px 10px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #e02020;
  color: #e02020;
  cursor: pointer;
  background-color: transparent;
 }

 .BoxPopupAdd {
    display :flex;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
 }

 .BoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 216px;
  background-color: #ffffff;
 }

 .TitleBox {
  width: 360px;
  height: 42px;
  margin: 31px 0 0;
  padding: 6px 32px 12px 16px;
 }

 .TitleText {
  width: 296px;
  height: 18px;
  margin: 6px 0 0 16px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  text-align: center;
  color: #000000;
 }

 .SelectQtd {
  width: 295px;
  height: 55px;
  margin: 19px 16px 0;
  padding: 16px;
  border-radius: 4px;
  border: solid 1px grey;
  background: url("https://cdn.zeplin.io/5dcc566ddc1332bf7fb4f450/assets/30097AB3-DADD-4ABB-B9C3-A009017420E9.svg")
    no-repeat right transparent;
  appearance: none;
  background-position-x: 264px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  color: #000000;
 }

 .ButtonP {
  width: 183px;
  height: 19px;
  margin: 28px 16px 16px 33px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  text-align: right;
  align-self: flex-end;
  color: #5cb646;
  cursor: pointer;
 }
