.senha {
  width: 24px;
  height: 24px;
  margin: 0 0 0 8px;
  object-fit: contain;
  background-image: url(../../Assets/search.png);
  background-repeat: no-repeat;
  margin-left: 80vw;
}

.popUp {
  width: 100%;
  height: 118px;
  margin: 99px 0 49px;
  padding: 24px;
  background-color: #5cb646;
}

.popUp p:first-child{
  color: white;
}

.Bullguer-Vila-Madale {
  width: 256px;
  height: 18px;
  margin: 8px 0 8px 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  color: #000000;
}

.Pedido-em-andamento {
  width: 256px;
  height: 18px;
  margin: 0 0 2px 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  color: #ffffff;
}

.clock {
  width: 32px;
  height: 32px;
  margin: 2px 24px 0 0;
  object-fit: contain;
}

