* {
    margin: 0px;
    padding: 0px;
}


.teste{
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center
}

.Logo_FutureEats {
    width: 126px;
    height: 65px;
    object-fit: contain;
}
